<section id="intro">
    <div class="background">
        <div class="container">
            <h1>
                <p>Bonjour !</p>
                <p>Je suis <a style="color: rgb(65, 163, 209)">Savinien Laeuffer</a>, <br> étudiant à Centrale Méditerranée.</p>
                <p>Je suis à la recherche d'un stage de fin d'études en développement web/mobile. </p>
            </h1>
        </div>
    </div>
</section>

<section id="apropos" class="whitebackground">
    <div >
        <div class="container">
            <h3 class="aos-init aos-animate" data-aos="fade-up"> 
                Mon profil en 3 grands axes:
            </h3>
            <div class="row">
                <div class="col-12 col-md-4 aos-init aos-animate" data-aos="zoom-in">
                    <div class="col-sm alert alert-primary" role="alert">
                        Dévelopmment web/mobile
                    </div>
                </div>
                <div class="col-12 col-md-4 aos-init aos-animate" data-aos="zoom-in">
                    <div class="col-sm alert alert-info bg-danger" role="alert">
                        Intelligence artificielle
                    </div>
                </div>
                <div class="col-12 col-md-4 aos-init aos-animate" data-aos="zoom-in">
                    <div class="col-sm alert alert-default" role="alert">
                        Musique assistée par ordinateur
                    </div>
                </div>
            </div>
            <br> 
            <div class="ptext">Au cours de ma scolarité j'ai pu acquérir de nombreuses compétences. Celles que j'ai expérimentées à titre personnel sont marquées d'un astérisque (*):</div>
            <div class="row">
                <div class="col-12 col-md-4 p-3 aos-init aos-animate" data-aos="flip-right">
                    <div class="card bg-info">
                        <div class="card-header text-white">
                            <div class="card-title">
                                Langages informatiques
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="devicon-html5-plain colored"></i>
                                HTML 5*
                            </li>
                            <li class="list-group-item">
                                <i class="devicon-css3-plain colored"></i>
                                CSS*
                            </li>
                            <li class="list-group-item">
                                <i class="devicon-python-plain colored"></i>
                                Python
                            </li>
                            <li class="list-group-item">
                                <i class="devicon-dart-plain colored"></i>
                                Dart*
                            </li>
                            <li class="list-group-item">
                                <i class="devicon-java-plain colored"></i>
                                JAVA
                            </li>
                            <li class="list-group-item">
                                <i class="devicon-ocaml-plain colored"></i>
                                OCaml
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-4 p-3 aos-init aos-animate" data-aos="flip-right">
                    <div class="card bg-danger">
                        <div class="card-header text-white">
                            <div class="card-title">
                                Frameworks/outils
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="devicon-flutter-plain colored"></i>
                                Flutter*
                            </li>
                            <li class="list-group-item">
                                <i class="devicon-angularjs-plain colored"></i>
                                Angular
                            </li>
                            <li class="list-group-item">
                                <i class="devicon-bootstrap-plain colored"></i>
                                Bootstrap
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-4 p-3 aos-init aos-animate" data-aos="flip-right">
                    <div class="card bg-default">
                        <div class="card-header">
                            <div class="card-title">
                                Programmes informatiques
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="devicon-vscode-plain colored"></i>
                                VSCode
                            </li>
                            <li class="list-group-item">
                                <i class="devicon-android-plain colored"></i>
                                Android Studio*
                            </li>
                            <li class="list-group-item">
                                <i class="devicon-git-plain colored"></i>
                                Git
                            </li>
                            <li class="list-group-item">
                                <i class="devicon-github-plain colored"></i>
                                Github
                            </li>
                            <li class="list-group-item">
                                <i class="devicon-intellij-plain colored"></i>
                                IntelliJ
                            </li>
                            <li class="list-group-item">
                                <i class="devicon-photoshop-plain colored"></i>
                                Photoshop*
                            </li>
                            <li class="list-group-item">
                                <i class="devicon-illustrator-plain colored"></i>
                                Illustrator*
                            </li>
                            <li class="list-group-item">
                                FL Studio*
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<section id="parcours" class="whitebackground">
    <h3 class="aos-init aos-animate" data-aos="fade-up"> 
        Mon parcours:
    </h3>
    <div class="container">
        <div class="timeline">
                <div class="timeline-container primary">
                    <div class="timeline-icon">
                        <i class="far fa-grin-wink"></i>
                    </div>
                    <div class="timeline-body aos-init aos-animate" data-aos="fade-left" >
                        <h4 class="timeline-title"><span class="badge">Centrale Méditerranée, Marseille</span> </h4>
                        <p>Approfondissement en informatique et mathématiques</p>
                        <p>Développement web (HTML/CSS, Angular, Bootstrap), Programmation Objet (C++, JAVA, Python), Intelligence artificielle (Python)</p>
                        <p>Tronc commun en première année: Mathématiques, Informatique, Physique, Traitement du signal, Mécanique, Économie-gestion, Chi    mie, Génie des procédés, Gestion de projet, Management</p>
                        <p class="timeline-subtitle">2019-2023</p>
                    </div>
                </div>
                <div class="timeline-container primary">
                    <div class="timeline-icon">
                        <i class="far fa-grin-wink"></i>
                    </div>
                    <div class="timeline-body aos-init aos-animate" data-aos="fade-left" >
                        <h4 class="timeline-title"><span class="badge">Politechnika Wrocławska, Wrocław (Pologne)</span> </h4>
                        <p>Semestre à l'étranger à l'université</p>
                        <p>Intelligence artificielle et Machine learning (JAVA, Orange), Développement mobile (Flutter), Gestion de projet informatique, Modélisation et analyse des systèmes web </p>
                        <p class="timeline-subtitle">2022</p>
                    </div>
                </div>
                <div class="timeline-container">
                    <div class="timeline-icon">
                        <i class="far fa-grin-beam-sweat"></i>
                    </div>
                    <div class="timeline-body aos-init aos-animate" data-aos="fade-left" >
                        <h4 class="timeline-title"><span class="badge">ANAPIX Medical, Meyreuil</span></h4>
                        <p>Développement d'applications mobiles hybrides iOS et Android avec Flutter dans le domaine de la dermatologie</p>
                        <p class="timeline-subtitle">2021</p>
                    </div>
                </div>
                <div class="timeline-container primary">
                    <div class="timeline-icon">
                        <i class="far fa-grin-wink"></i>
                    </div>
                    <div class="timeline-body aos-init aos-animate" data-aos="fade-left" >
                        <h4 class="timeline-title"><span class="badge">Lycée Henri Poincaré, Nancy </span> </h4>
                        <p>Classes préparatoires aux grandes écoles</p>
                        <p>Filières MPSI/MP, option informatique</p>
                        <p class="timeline-subtitle">2017-2019</p>
                    </div>
                </div>

            </div>
    </div>
</section>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">